.App {
  text-align: center;
  background-color: aliceblue;
}

body {
  margin: 0;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
